actividad16/matricula.dtd

<!ELEMENT matricula (personal, pago)*>
<!ELEMENT personal (dni, nombre, titulacion, curso_academico, domicilios)>
<!ELEMENT dni (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT titulacion (#PCDATA)>
<!ELEMENT curso_academico (#PCDATA)>
<!ELEMENT domicilios (domicilio)*>
<!ATTLIST domicilio tipo CDATA "familiar">
<!ATTLIST domicilio tipo CDATA "habitual">
<!ELEMENT domicilio (nombre)>
<!ELEMENT pago (tipo_matricula)>
<!ELEMENT tipo_matricula (#PCDATA)>